body {
  background-color: #F8EFD0;
}
body h4 {
  color: #F8EFD0;
}

.App {
  text-align: center;
}

.flex {
  display:flex;
  flex-wrap: wrap;
}

.left {
  float: left;
  flex:0.4;
}

.right {
  float: right;
  flex:0.6;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.pageTitle {
  color: #2A4C94;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 800px) {
  .flex .left {
    flex: 10;
    margin: 0 25px;
  }

  .flex .right {
    flex: 10;
    margin: 0 25px;
  }
  .left .dayList {
    margin-left: 0;
  }
  
}
/* @media only screen and (max-width: 600px) {
  .left .dayList {
    width: 120%;
  }
} */


